{% capture boxDefaultData %}
[
    {
      imgUrl : {
				src : 'https://cdn.shopify.com/s/files/1/0577/1178/8125/files/massage-new.png?v=1650701106',
				placeHolder : 'https://cdn.shopify.com/s/files/1/0577/1178/8125/files/massage-new.png?v=1650701106'
	    },
      boxHeading : 'EMAIL',
      boxContent : 'For assistance concerning our online store or your online purchase, please contact us via email. This is the easiest way to get in touch with us.',
      link : 'mailto:clientservices@behno.com',
      linkText : 'clientservices@behno.com'
    },
    {
      imgUrl : {
				src : 'https://cdn.shopify.com/s/files/1/0577/1178/8125/files/massage-new.png?v=1650701106',
				placeHolder : 'https://cdn.shopify.com/s/files/1/0577/1178/8125/files/massage-new.png?v=1650701106'
	    },
      boxHeading : 'EMAIL',
      boxContent : 'For assistance concerning our online store or your online purchase, please contact us via email. This is the easiest way to get in touch with us.',
      link : 'mailto:clientservices@behno.com',
      linkText : 'clientservices@behno.com'
    }
]   
{% endcapture %}


{% capture boxDynamicData %}
[
   {% for block in section.blocks %}
   {% if block.type == 'block-1' %}
    {
      imgUrl : {
				src : '{{ block.settings.boxImage | img_url : "" }}',
				placeHolder : '{{ block.settings.boxImage | img_url : "50x50" }}'
	    },
      boxHeading : '{{ block.settings.boxHeading }}',
      boxContent : '{{ block.settings.boxContent | base64_encode }}',
      link : '{{ block.settings.link }}',
      linkText : '{{ block.settings.linkText }}',
    }{% unless forloop.last %},{% endunless %}

    {% endif %}

   {% endfor %}
] 
{% endcapture %}

{% assign boxcheckLenght =  boxDynamicData | size %}

{% if boxcheckLenght > 2 %}
	{% assign boxloopData  =  boxDynamicData %}
{% else %}
    {% assign boxloopData  =  boxDefaultData %}
{% endif %}



{% capture defaultData %}
[
    {
      Heading : 'Heading',
      Content : '{{ '<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industrys standard dummy text ever since the 1500s</p>' | base64_encode }}' 
    },
    {
      Heading : 'Heading',
      Content : '{{ '<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industrys standard dummy text ever since the 1500s</p>' | base64_encode }}' 
    },
    {
      Heading : 'Heading',
      Content : '{{ '<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industrys standard dummy text ever since the 1500s</p>' | base64_encode }}' 
    }
]   
{% endcapture %}



{% capture dynamicData %}
[
   {% for block in section.blocks %}
   {% if block.type == 'block-2' %}

    {
      Heading : '{{ block.settings.Heading }}',
      Content : '{{ block.settings.Content | base64_encode }}'
    }{% unless forloop.last %},{% endunless %}
   {% endif %}
   {% endfor %}
]
{% endcapture %}


{% assign checkLenght =  dynamicData | size %}

{% if checkLenght > 2 %}
	{% assign loopData  =  dynamicData %}
{% else %}
    {% assign loopData  =  defaultData %}
{% endif %}



<render-term-and-condition :shopify-data="{
    box :  {{ boxloopData }},
    tabs :  {{ loopData }}
}"></render-term-and-condition>


{% schema %}
{
    "name": "Term and condition",
    "blocks": [
      {
        "type": "block-1",
        "name": "Add Box",
        "limit": 2,
        "settings": [
          {
            "id": "boxImage",
            "type": "image_picker",
            "label": "Image"
          },
          {
            "id": "boxHeading",
            "type": "text",
            "label": "Heading",
            "default" : "Heading"
          },
          {
            "id": "boxContent",
            "type": "textarea",
            "label": "Paragraph",
            "default" : "Paragraph"
          },
          {
            "id": "link",
            "type": "url",
            "label": "link"
          },
          {
            "id": "linkText",
            "type": "text",
            "label": "link Text"
          }
        ]
      },
      {
        "type": "block-2",
        "name": "Add Tab",
        "limit": 3,
        "settings": [
          {
            "id": "Heading",
            "type": "text",
            "label": "Heading",
            "default" : "Heading"
          },
          {
            "id": "Content",
            "type": "html",
            "label": "Content",
            "default" : "Content"
          }
         
        ]
      }
    ]
  }
{% endschema %}